body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  background-color: #e9ecef;
  border-radius: .3rem;
}

.btn {
  display: inline-block;
  align-items: center;
  border-radius: 4px;
  padding: 10px 15px;
  color: gray;
  text-align: center;

  border: 1px solid gray;
}



.btn.active {
  color: white;
  background-color: gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.btn .active {
  color: white;
  background-color: gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.algebra ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.number ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.order ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.settings ul {
  display: flex;
  justify-content: flex-start;
}

li {
  display: inline;
  margin-left: 10px;

}

li:first-child {
  margin-left: 0;
}

.number {
  display: flex;
  align-items: center;
}

/*.number .active {
  background-color: green;
  color: black; 
}*/

.problem {
  display: flex;
  justify-content: center;
}

.numbers, .sign, .equals {
  display: inline;
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  border-radius: 4px;
  padding: 10px 15px;
}

.numbers:first-child {

  margin-left: 0px;
}

.answer.hidden {
  display: none;
}


.answer {
  display: inline-block;
}

.correct {
  border-color: lightgreen;
}

.incorrect {
  border-color: red;
}